body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('IMAGES/bgorderpage.png');
    background-size: 100% 100%;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.logo img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.form-subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease transform 0.3s ease;;
}

button:hover {
    background-color: #7e8e9e;
}

.dropdown {
    position: relative;
}

#paymentDropdown {
    --border-radius: 6px;
    --shadow-color: 60deg 13% 61%;
    width: 100%;
    background-color: #fff;
    border-radius: var(--border-radius);
    position: relative;
}

#MethodDropdown {
    --border-radius: 6px;
    --shadow-color: 60deg 13% 61%;
    width: 100%;
    background-color: #fff;
    border-radius: var(--border-radius);
    position: relative;
}

.dropbtn,
.item {
    width: 100%;
    padding: 12px 20px; 
    cursor: pointer;
    box-sizing: border-box;
}

:is(.item):first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

:is(.item):last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

:is(.item):hover {
    background-color: #faf6ea;
}

.dropbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.dropbtn > span {
    color: #ffffff;
}

i {
    color: #db8400;
    transition: transform 0.25s ease;
}

.dropbtn.open > i {
    transform: rotate(180deg);
}

.paymentDropdown, .MethodDropdown {
    position: relative;
}

.dropdown-content {
    visibility: hidden;
    position: relative;
    background-color: #aeadad;
    border-radius: var(--border-radius);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0;
    transition: all 0.5s ease;
}

.dropdown-content li {
    list-style-type:circle; 
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.dropdown-content.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(5px);
}

.item:hover{
    visibility: visible;
    opacity: 1;
    transform: translate(8px, 0);
}

.dropbtn::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: darkred transparent transparent transparent;
    margin-left: 5px;
    vertical-align: middle;
}

.group-of-group {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: auto; 
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

.message-box p {
    margin: 0;
    font-size: xx-large;
    text-align:center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.message-box button {
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #d3d3d3;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-box button:hover {
    background-color: #406286;
}

.button {
    margin-bottom: 10px;
}

@media screen and (max-width: 50px) {
    .container {
        max-width: 50%;

    }
}